streamlit
numpy
pandas
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0
supabase
bcrypt
segno
pillow
librosa
soundfile
torch
webrtcvad-wheels>=2.0.14
streamlit-mic-recorder
imageio-ffmpeg
resemblyzer